*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
} 
body{
    /* background: rgb(241, 241, 241); */
    background: rgb(244, 243, 250);
}
header{
    background-color: rgb(244, 243, 250);
}
.header{
    position: fixed;
    top: 0;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0px 11%;
    padding: 18px 1%;
    /* box-shadow: 0 1px 0px rgb(151, 0, 210); */
    z-index: 100;
}
.navbar a{
    display: inline-block;
    margin-right: 1.9375rem;
    text-decoration: none;
    color: rgb(132, 133, 133);
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    transition: .4s;
    opacity: 0;
    animation: slideTop .3s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
@keyframes slideTop {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
.navbar a:hover,
.navbar .active{
    box-shadow: 0 2px 0 rgb(151, 0, 210);
    color: rgb(151, 0, 210);
    font-size: 16px;
    font-weight: 600;
    /* transform: scale(1.02); */
    
}
@keyframes slidebar{
        0%{
            transform: translateX(-100px);
            opacity: 0;
        }
        100%{
            transform: translateX(0px);
            opacity: 1;
        }
    }
.logo{
    color: rgba(116, 116, 116, 0.902);
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 1px;
    opacity: 0;
    animation: logoLeft 1s ease forwards;
}
.logo span:nth-child(2){
    position: relative;
    animation: logoDot 1s ease forwards;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}
.logo span:nth-child(3){
    position: relative;
    animation: logoDot 1s ease forwards;
    animation-iteration-count: infinite;
    animation-duration: 1.02s;
}
.logo span:nth-child(4){
    position: relative;
    animation: logoDot 1s ease forwards;
    animation-iteration-count: infinite;
    animation-duration: 1.03s;
}
@keyframes logoLeft{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes logoDot{
    0%{
        top:-7px;
        
    }
    100%{
        top: 0;
       
    }
}
.logo span{
    color: rgb(123, 1, 171);
}
/* .header img{
    width: 12.5rem;
} */
.daynightmode a{
    margin-right: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.375rem;
    color: rgb(151, 0, 210);
    text-decoration: none;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.daynightmode a:hover{
    box-shadow: 0 2px 0 rgb(124, 3, 218);
    font-size: 25px;
}
.social-media{
    /* background-color: rgb(213, 211, 211); */
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    row-gap: 90px;
    padding: 20px 30px;
    border-radius: 50px;
    opacity: 0;
    transition: .5s;
    animation: logoLeft 1s ease forwards;
    animation-delay: 0.8s;
}
.social-media a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
    color: rgb(128, 2, 140);
    text-decoration: none;
    border-radius: 50%;
    padding: 5px;
    transition: .5s;
    opacity: 0;
    background: transparent;
    animation: slideBottom .5s ease forwards;
    animation-delay: 0s;
    animation-delay: calc(.2s * var(--i));
}
.social-media a i{
    background: transparent;
}
.social-media a:hover{
    /* box-shadow: 0 0 20px rgb(123, 1, 171); */
    color: rgb(250, 250, 250);
    border-radius: 50%;
    background-color: rgb(81, 90, 87);
    /* font-size: 1.99rem; */
}
.image img{
    width: 500px;
    /* border-radius: 50%;
    border: 2px solid rgb(136, 134, 136); */
    /* height: 500px; */
}
.home{  
    /* position: relative; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    margin: 0 9%;
    padding: 0 1%;
    box-shadow: 0 1px 0px rgb(151, 0, 210);
}
.home-content{
    /* position: absolute; */
    width: 38.5rem;
}

.home-content h3{
    font-size: 30px;
    font-weight: 200;
    color: rgba(47, 62, 57, 0.929);
    opacity: 0;
    animation: logoLeft 1s ease forwards;
}
.home-content h1{
    font-size: 90px;
    font-weight: 800;
    color: rgba(47, 62, 57, 0.954);
    /* text-shadow: 0px 0px 1px rgb(255, 0, 0); */
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .5s;
}
@keyframes slideBottom {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
.home-content span{
    color: rgb(123, 1, 171);
}
.home-content p{
    margin-top: 15px;
    width: 550px;
    color: rgb(60, 71, 68);
    font-size: 13px; 
    margin-bottom: 50px;
}
.resume{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.resume a{
    /* border: 2px solid grey; */
    background-color:rgb(47, 62, 57);
    padding: 10px 20px;
    /* margin-left: 15px; */
    margin-right: 20px;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
    color: white;
    box-shadow: 0px 3px  3px 0px rgba(0,0,0,0.75);
}
.resume a:hover{
    box-shadow: 0 0 10px rgb(132, 130, 132);
    border-radius: 5px;
    background-color: rgb(233, 228, 228);
    color: rgb(46, 45, 45);
}
.home2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: justify;
    justify-content: space-between;
    height: 100vh;
    margin: 0 10%;
    box-shadow: 0 1px 0px rgb(124, 3, 218);
}
.aboutinfo{
    border: 2px solid rgb(124, 3, 218);
    padding: 30px;
    box-shadow: 0 0px 50px rgb(124, 3, 218);
    border-radius: 30px;
}
.aboutheading{
    font-size: 50px;
    font-weight: 800;
    color: rgb(124, 3, 218);
    text-shadow: 0px 0px 1px rgb(255, 0, 0);
    opacity: 0;
    animation: slideBottom 1s ease forwards;
}
.aboutinfo p{
    width: 500px;
    /* font-size: 1.1625rem; */
    color: gray;
    letter-spacing: 1px;
    margin-bottom: 30px;
}
.aboutinfo p span{
    font-size: 2.1rem;
    color: rgb(124, 3, 218);
}
.aboutinfo h1{
    margin-bottom: 30px;
}
.aboutinfo p{
    margin-bottom: 30px;
}
.aboutimg img{
    margin-left: 90px;

}
.aboutme{
    display: flex;
    margin-bottom: 30px;
    
}
.aboutme div:nth-child(1) h3{
    margin-bottom: 20px;
    color: rgb(124, 3, 218);
}
.aboutme div:nth-child(2) p{
    margin-left: 30px;
    margin-bottom: 24px;
}
.resume2 a{
    background-color: rgb(98, 96, 96);
    padding: 10px 20px;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
    color: white;
    box-shadow: 0px 3px  3px 0px rgba(0,0,0,0.75);
}
.resume2 a:hover{
    box-shadow: 0 0 10px rgb(132, 130, 132);
    border-radius: 5px;
    background-color: rgb(233, 228, 228);
    color: rgb(46, 45, 45);
}
.home3{
    height: 50vh;
    margin: 0 10%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 80px;
}
.home3 h3{
    font-size: 50px;
    color: rgb(124, 3, 218);
    text-shadow: 0px 0px 1px rgb(255, 0, 0);

}
.block{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}
.skillblock{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .75rem;
    width: 200px;
    height: 200px;
    background-color: rgb(173, 124, 210);
}
.nestedblock{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 1.9rem;
    background-color: rgb(233, 231, 231);
    box-shadow: 0 0px 50px rgb(142, 0, 133);
}
.nestedblock p:nth-last-child(1){
    color: grey;
    letter-spacing: 2px;
}
.nestedblock p:nth-last-child(2){
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 5px;
}