*{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    position: relative;
    background-color: rgb(42, 42, 42);
    display: flex;
}
.sidebar{
    background-color: rgb(0, 0, 0);
    width: 12%;
    height: 100vh;
    padding: 1.5rem;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.icon img{
    width: 75%;
    margin-bottom: 15%;
}
.home{
    display: flex;
    flex-direction: column;
    
}
.space{
    margin-top: 10%;
}
#plus{
    border-radius: 20%;
}
.home a{
    
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    color: white;
    font-size: large;
    /* font-weight: bolder; */
    margin-bottom: 9%;
}
 .home a img{
    width: 13%;
    margin-right: 12%;
}
.space2{
    margin-top: 120px;
}
/* .legalinfo{
    marg
} */
.legalinfo {
    margin-bottom: 10%;
}
.legalinfo nav a{
    margin-right: 7%;
    text-decoration: none;
    color: rgb(202, 200, 200);
    font-size: 12px;
    
}
.lang{
    margin-top: 30px;
    border: 2px white solid;
    width: 100px;
    align-items: center;
    border-radius: 15px;
}
.lang a{
    
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.lang a img{
    width: 17px;
    margin-right: 5px;
}
.header{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(13, 13, 13, 0.626);
    width: 87.0rem;
    padding: 2px 30px;
}
.arrow a{
    text-decoration: none;
    color: grey;
    font-size: 45px;
}
.navlink a{
    text-decoration: none;
}
.navlink a:nth-child(1){
    color: grey;
    margin: 0 2.0rem;
    font-size: 1.1rem;
    font-weight: 500;
}
.navlink a:nth-child(2){
    background-color: white;
    padding: 14px 35px;
    border-radius: 1.8rem;
    font-size: 18px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}
.navlink a:nth-child(1):hover{
    color: white;
    font-size: 18px;
}
.navlink a:nth-child(2):hover{
    background-color: rgb(241, 240, 240);
    padding: 15px 36px;
}