*{
    margin: 0;
   
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background: #ebeef1;
}
.main{
    background: #ebeef1;
    height: 100vh;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 125px;
}
.main-container{
    /* display: flex; */
    height: 100vh;
    width: 73vw;
    margin: 0 13%;
    background: #ebeef1;
}
.sidebar{
    display: flex;
    background: #ebeef1;
    height: 80%;
    padding: 20px 20px 0 20px;
    padding: 20px;
    display: flex;
    margin-bottom: 27px;
}
.firstrow-box1{
    position: fixed;
    bottom: 11%;
    display: flex;
    flex-direction: column;
    width: 24%;
    align-items: center;
    justify-content: space-around;
    margin: 17px 22px 10px 17px;
    height: 72%;
    background: linear-gradient(225deg, #fdfdfd, #f0f0f0);
    border-radius: 30px;
    box-shadow: -5px 3px 10px #b1b1b1, 0px 5px 8px #ffffff;
    transition: .4s;
}
.firstrow-box1 img{
    width: 200px;
}
.firstrow-box1:hover{
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(70,70,70,0.12),
    inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70,70,70,0.12);
}
.myname{
    text-align: center;
}
.myname h2{
    font-size: 16px;
    color: #b1b1b1;
    font-weight: 400;
}
.mysocialmedia{
    display: flex;
    column-gap: 20px;
    /* justify-content: center; */
}
.mysocialmedia p i{
    padding: 20px 19px;
    background: grey;
    border-radius: 50%;
    background: linear-gradient(225deg, #fdfdfd, #f0f0f0);
    box-shadow: -5px 3px 10px #b1b1b1, 0px 5px 8px #ffffff;
}
.mysocialmedia p i:hover{
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(70,70,70,0.12),
    inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70,70,70,0.12);
}
#facebook{
    padding: 20px 22px;
    background: grey;
    border-radius: 50%;
    background: linear-gradient(225deg, #fdfdfd, #f0f0f0);
    box-shadow: -5px 3px 10px #b1b1b1, 0px 5px 8px #ffffff;
}
#facebook:hover{
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(70,70,70,0.12),
    inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70,70,70,0.12);
}
.contactme a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    padding: 10px 116px;
    border-radius: 30px;
    background: linear-gradient(225deg, #fdfdfd, #f0f0f0);
    box-shadow: -5px 3px 10px #b1b1b1, 0px 5px 8px #ffffff;
}
.contactme a:hover{
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(70,70,70,0.12),
    inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70,70,70,0.12);
}
.spacebox{
    width: 146%;
}
.mydetails{
    display: flex;
}
.mydetails1{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.mydetails2{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}