*{
    margin: 0;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background: #ebeef1;
}
.spaceheader{
    height: 10px;
    width: 100%;
    background-color: #ebeef1;
    position: fixed;
    top: 0;
}
header.header {
    display: flex;
    padding: 10px;
    display: flex;
    margin: auto;
    width: 1060px;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(225deg, #fdfdfd, #f0f0f0);
    border-radius: 10px;
    box-shadow: -5px 3px 10px #b1b1b1, 0px 5px 8px #ffffff;
}
.logo {
    font-size: 1.8rem;
    font-weight: 700;
    color: rgb(8, 8, 8);
}
a {
    text-decoration: none;
}
.logo span{
    color: rgb(39, 0, 181);
}

.navbar a {
    text-decoration: none;
    color: rgb(67, 67, 67);
    background: transparent;
    /* background: linear-gradient(225deg, #fdfdfd, #f0f0f0); */
    font-size: 1.1rem;
    font-weight: 500;
    margin: 20px;
    transition: .4s;
}

.navbar a:hover{
    color: blue;
}
.letstalk a {
    background-color: rgb(47, 99, 255);
    padding: 12px 19px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.navbar .active {
    color: blue;
}

.main{
    margin: 70px 0 70px 0;
}

.main-container {
    width: 1080px;
    margin: auto;
}
.first-row{
    background: #ebeef1;
    height: 49%;
    padding: 20px 20px 0 20px;
    padding: 20px;
    display: flex;
}
.firstrow-box1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 27%;
    margin: 0 10px;
    /* height: 100%; */
    background: linear-gradient(225deg, #fdfdfd, #f0f0f0);
    border-radius: 30px;
    box-shadow: -5px 3px 10px #b1b1b1, 0px 5px 8px #ffffff;
    transition: .4s;
}
.firstrow-box1 img{
    width: 200px;
}
.firstrow-box1:hover{
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(70,70,70,0.12),
    inset -10px -10px 15px rgba(255,255,255,0.5),
    inset 10px 10px 15px rgba(70,70,70,0.12);
}
.firstrow-box2{
    width: 70%;
    margin: 0 10px;
    /* height: 100%; */
}
.box2-line{
    margin-left: 10px;
    font-size: 50px;
}  
.box2-aboutinfo{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: start;
    justify-content: center;
    width: 95%;
    margin: 0 10px;
    height: 53%;
    padding: 20px;
    background: linear-gradient(225deg, #fdfdfd, #f0f0f0);
    border-radius: 30px;
    box-shadow: -5px 3px 10px #b1b1b1, 0px 5px 8px #ffffff;
    transition: .4s;
}
.box2-aboutinfo h1{
    font-size: 50px;
    color: blue;
}
.box2-aboutinfo:hover{
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(70,70,70,0.12),
    inset -10px -10px 15px rgba(255,255,255,0.5),
    inset 10px 10px 15px rgba(70,70,70,0.12);
}
.second-row{
    background: #ebeef1;
    height: 49%;
    padding: 20px 20px 0 20px;
    padding: 20px;
    display: flex;
}
.secondrow-box1{
    width: 48%;
    margin: 0 10px;
    height: 85.5%;
    padding: 20px;
    background: linear-gradient(225deg, #fdfdfd, #f0f0f0);
    border-radius: 30px;
    box-shadow: -5px 3px 10px #b1b1b1, 0px 5px 8px #ffffff;
    transition: .4s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
}
.secondrow-box1:hover{
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(70,70,70,0.12),
    inset -10px -10px 15px rgba(255,255,255,0.5),
    inset 10px 10px 15px rgba(70,70,70,0.12);
}
.second-row p{
    font-size: 17px;
    font-weight: 600;
}
.exp p{
    font-size: 13px;
    font-weight: 500;
}
.exp h3{
    font-size: 17px;
    font-weight: 600;
}
.exp h4{
    font-size: 14px;
    font-weight: 500;
}
.secondrow-box2{
    width: 48%;
    margin: 0 10px;
    height: 85.5%;
    padding: 20px;
    background: linear-gradient(225deg, #fdfdfd, #f0f0f0);
    border-radius: 30px;
    box-shadow: -5px 3px 10px #b1b1b1, 0px 5px 8px #ffffff;
    transition: .4s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
}
.secondrow-box2:hover{
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(70,70,70,0.12),
    inset -10px -10px 15px rgba(255,255,255,0.5),
    inset 10px 10px 15px rgba(70,70,70,0.12);
}
/* .secondrow-box2 p{
    font-size: 17px;
    font-weight: 600;
} */
footer{
    margin: 0 13% 10px 13%;
}
.footerbox {
    text-align: center;
    width: 1060px;
    background: linear-gradient(225deg, #fdfdfd, #f0f0f0);
    border-radius: 20px;
    box-shadow: -5px 3px 10px #b1b1b1, 0px 5px 8px #ffffff;
    transition: .4s;
    padding: 18px;
    margin: auto;
}
.footerbox span{
    color: blue;
}