*{
    margin: 0;
   
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}
body{
    background: #ebeef1;
}
.spaceheader{
    height: 10px;
    width: 100%;
    background-color: #ebeef1;
    position: fixed;
    top: 0;
    z-index: 11;
}
header.header {
    padding: 10px;
    display: flex;
    margin: auto;
    width: 1080px;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(225deg, #fdfdfd, #f0f0f0);
    border-radius: 10px;
    box-shadow: -5px 3px 10px #b1b1b1, 0px 5px 8px #ffffff;
}
.logo {
    font-size: 1.8rem;
    font-weight: 700;
    color: rgb(8, 8, 8);
}

a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.portfolio h5{
    font-weight: 300;
}
.logo span{
    color: rgb(39, 0, 181);
}

.navbar a {
    text-decoration: none;
    color: rgb(67, 67, 67);
    background: transparent;
    /* background: linear-gradient(225deg, #fdfdfd, #f0f0f0); */
    font-size: 1.1rem;
    font-weight: 500;
    margin: 20px;
    transition: .4s;
}

.navbar a:hover{
    color: blue;
}
.letstalk a {
    background-color: rgb(47, 99, 255);
    padding: 12px 19px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.navbar .active {
    color: blue;
}

.main{
    margin: 70px 0 0 0;
}

.main-container {
    width: 1080px;
    margin: auto;
}
.first-row{
    display: flex;
    align-items: self-end;
    width: inherit;
    margin-bottom: 10px;
}
.firstrow-box1{
    display: flex; 
    flex-direction: column;
    width: 32%;
    padding-bottom: 10px;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px 22px 20px 41px;
    height: 485px;
    background: linear-gradient(225deg, #fdfdfd, #f0f0f0);
    border-radius: 30px;
    box-shadow: -5px 3px 10px #b1b1b1, 0px 5px 8px #ffffff;
    transition: .4s;
}
.firstrow-box1 img{
    width: 200px;
}
.firstrow-box1:hover{
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(70,70,70,0.12),
    inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70,70,70,0.12);
}
.myname{
    text-align: center;
}
.myname h2{
    font-size: 16px;
    color: #b1b1b1;
    font-weight: 400;
}
.mysocialmedia{
    display: flex;
    column-gap: 20px;
    /* justify-content: center; */
}
.mysocialmedia p i{
    color: black;
    font-size: 20px;
    padding: 15px 16px;
    background: grey;
    border-radius: 50%;
    background: linear-gradient(225deg, #fdfdfd, #f0f0f0);
    box-shadow: -5px 3px 10px #b1b1b1, 0px 5px 8px #ffffff;
}
.mysocialmedia p i:hover{
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(70,70,70,0.12),
    inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70,70,70,0.12);
}
.linkd:hover{
    color: rgb(5, 5, 134);
}
.twit:hover{
    color: rgb(83, 83, 254);
}
.insta:hover{
    color: rgb(180, 3, 3);
}
.faceb:hover{
    color: blue;
}
#facebook{
    padding: 15px 19px;
    background: grey;
    border-radius: 50%;
    background: linear-gradient(225deg, #fdfdfd, #f0f0f0);
    box-shadow: -5px 3px 10px #b1b1b1, 0px 5px 8px #ffffff;
}
#facebook:hover{
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(70,70,70,0.12),
    inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70,70,70,0.12);
}
.contactme a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    padding: 10px 100px;
    border-radius: 30px;
    background: linear-gradient(225deg, #fdfdfd, #f0f0f0);
    box-shadow: -5px 3px 10px #b1b1b1, 0px 5px 8px #ffffff;
}
.contactme a:hover{
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(70,70,70,0.12),
    inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70,70,70,0.12);
}
.firstrow-box2{
    width: 70%;
    /* background: yellow; */
    margin: 0 10px;
    height: 100%;
}
.firstrow-box2 h1{
    font-size: 67px;
}
.portfolio-row1{
    /* background: #2e2a2a; */
    display: flex;
    /* margin-bottom: 0px; */
    /* background: violet; */
}

.portfolio{
    background: linear-gradient(225deg, #fdfdfd, #f0f0f0);
    padding: 20px;
    border-radius: 20px;
    box-shadow: -5px 3px 10px #b1b1b1, 0px 5px 8px #ffffff;
    transition: .4s;
    width: 46%;
    height: inherit;
}
.portfolio img{
  width: 100%;
}
.portfolio1{
    margin-right: 10px;

}
.portfolio:hover{
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(70,70,70,0.12),
    inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70,70,70,0.12);
}
.portfolio2{
    margin-left: 10px;

}
.portfolio-row2{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;

}

.portfolio3{
    margin-right: 10px;


}
.portfolio4{
    margin-left: 10px;

  
}
.mywork h5{
    font-size: 10px;
}
.mywork a{
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: 800;
    letter-spacing: 1px;
}
.mywork a:hover{
    color: #311afffa;
}
.commingsoon {
    background: linear-gradient(225deg, #fdfdfd, #f0f0f0);
    border-radius: 20px;
    box-shadow: -5px 3px 10px #b1b1b1, 0px 5px 8px #ffffff;
    transition: .4s;
    padding: 20px;
    margin: 20px 0px;
}

.commingsoon h1 {
    font-size: 30px;
    color: #000;
    margin: 0;
}

.commingsoon span{
    color: blue;
}

.commingsoon:hover{
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(70,70,70,0.12),
    inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70,70,70,0.12);
}
/* footer{
    margin: 0 13% 10px 13%;
} */
.footerbox {
    text-align: center;
    width: 1089px;
    background: linear-gradient(225deg, #fdfdfd, #f0f0f0);
    border-radius: 20px;
    box-shadow: -5px 3px 10px #b1b1b1, 0px 5px 8px #ffffff;
    transition: .4s;
    padding: 20px 0;
    margin: auto;
}
.footerbox span{
    color: blue;
}
@media only screen and (max-width:520px){
    .main{
        width: 100%;
    }
    .main-container{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .spaceheader{
        width: 100%;
    }
    header .header{
        width: 100%;
    }
     .navbar {
    display: none;
    }
    .first-row{
        display: flex;
        flex-direction: column;
        margin-top: 23%;
        /* align-items: center; */
    }
    .firstrow-box1 {
        position: relative;
    }
    
    .firstrow-box1 {
        margin: auto;
        width: 90%;
        height: 470px;
    }
    /* .firstrow-box1 img{
        border-radius: 10%;
        width: 38%;
    } */
    .mysocialmedia p i{  
        padding: 15px 16px;  
    }
    #facebook{
        padding: 15px 20px;
    }
    .contactme a{
        padding: 10px 100px;
    }
    .firstrow-box2{
        width: 100%;
        margin: auto;
        flex-direction: column;
    }
    .firstrow-box2 h1{ 
        font-size: 40px;
        text-align: center;
        margin-top: 20px;
    }
    .box2-aboutinfo{
        margin-left: 0px;
        width: 86%;
    }
    .box2-aboutinfo p{
        text-align: justify;
    }
    .portfolio1, .portfolio3{
        margin-left: 10px;
    }
    .portfolio2, .portfolio4{
        margin: 0;
    }
    .second-row{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
    .secondrow-box1{
        width: 85%;
    }
    .secondrow-box2{
        width: 85%;
    }
    .footerbox{
        width: 100%;
    }
}