@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
    * {
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 box-sizing: border-box;
}
body {
    background: #ebeef1;
}

.spaceheader{
    height: 10px;
    width: 100%;
    background-color: #ebeef1;
    position: fixed;
    top: 0;
}
header.header {
    display: flex;
    padding: 10px;
    display: flex;
    margin: auto;
    width: 1089px;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(225deg, #fdfdfd, #f0f0f0);
    border-radius: 10px;
    box-shadow: -5px 3px 10px #b1b1b1, 0px 5px 8px #ffffff;
}
.logo {
    font-size: 1.8rem;
    font-weight: 700;
    color: rgb(8, 8, 8);
}
a {
    text-decoration: none;
}
.logo span{
    color: rgb(39, 0, 181);
}

.navbar a {
    text-decoration: none;
    color: rgb(67, 67, 67);
    background: transparent;
    /* background: linear-gradient(225deg, #fdfdfd, #f0f0f0); */
    font-size: 1.1rem;
    font-weight: 500;
    margin: 20px;
    transition: .4s;
}

.navbar a:hover{
    color: blue;
}
.letstalk a {
    background-color: rgb(47, 99, 255);
    padding: 12px 19px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.navbar .active {
    color: blue;
}

.main{
    margin: 70px 0 0 0;
}

.main-container {
    width: 1050px;
    margin: auto;
}

.first-rowbox {
    display: flex;
    width: inherit;
    margin-bottom: 10px;
}

.my-pic-info h1 {
    font-size: 30px;
    color: rgb(69, 69, 247);
    font-weight: 800;
    margin: 10px 0px;
}

img {
    width: 100%;
}

.skill-icon {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.firstrow-box {
    display: flex;
    width: 50%;
    margin: 10px 10px;
    background: linear-gradient(225deg, #fdfdfd, #f0f0f0);
    border-radius: 30px;
    box-shadow: -5px 3px 10px #b1b1b1, 0px 5px 8px #ffffff;
    transition: transform 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.firstrow-box:hover{
    transform: scale(1.01);
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(70,70,70,0.12),
    inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70,70,70,0.12);
}
img.my-pic {}

di {}

.inner-firstrow {margin: 10px 0px;}

di {}

.about-info {
    display: flex;
}



.credential img, .portfolio img, .mycvdownload img {width: 75%;}

.credential.linkname.linkinfo, .portfolio, .mycvdownload, .socialmedia { 
    text-align: center;
    background: blueviolet;
    display: flex;
    margin: 0px 10px;
    background: linear-gradient(225deg, #fdfdfd, #f0f0f0);
    border-radius: 20px;
    box-shadow: -5px 3px 10px #b1b1b1, 0px 5px 8px #ffffff;
    transition: .4s;
    flex-direction: column;
    align-items: center;
    height: 230px;
    justify-content: space-evenly;
}

.linkname a:hover{
    color: blue;
}

.portfolio.linkname.linkinfo {}

p.line-box {
    border-radius: 25px;
    box-shadow: -5px 3px 10px #b1b1b1, 0px 5px 8px #ffffff;
    transition: .4s;
    padding: 14px;
    background: linear-gradient(225deg, #fdfdfd, #f0f0f0);
    font-size: 18px;
    font-weight: 500;
    margin: 0 10px 15px 10px;
}
p.line-box span{
    color: blue;
}
p.line-box:hover{
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(70,70,70,0.12),
    inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70,70,70,0.12);
}
p.line-box:hover{
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(70,70,70,0.12),
    inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70,70,70,0.12);
}
.credential.linkname.linkinfo:hover{
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(70,70,70,0.12),
    inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70,70,70,0.12);
}

.portfolio:hover{
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(70,70,70,0.12),
    inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70,70,70,0.12);
}
.text {
    width: 75%;
    text-align: left;
}

.second-rowbox {display: flex;}

.third-row {
}

footer {
}
.mycvdownload {
    width: 35%;
}
.mycvdownload:hover{
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(70,70,70,0.12),
    inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70,70,70,0.12);
}
.skill-box {
    width: 60%;
    background: linear-gradient(225deg, #fdfdfd, #f0f0f0);
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    box-shadow: -5px 3px 10px #b1b1b1, 0px 5px 8px #ffffff;
    transition: .4s;
}

.skill-icon {
    display: flex;
}

.skill-icon p {
    width: 60px;
}
.skill-box:hover{
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(70,70,70,0.12),
    inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70,70,70,0.12);
}

.socialmedia {
    width: 35%;
}

.socialmedia:hover{
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(70,70,70,0.12),
    inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70,70,70,0.12);
}
.commingsoon {
    background: linear-gradient(225deg, #fdfdfd, #f0f0f0);
    border-radius: 20px;
    box-shadow: -5px 3px 10px #b1b1b1, 0px 5px 8px #ffffff;
    transition: .4s;
    padding: 20px;
    margin: 20px 0px;
}

.commingsoon h1 {
    font-size: 30px;
    color: #000;
    margin: 0;
}

.commingsoon span{
    color: blue;
}

.commingsoon:hover{
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(70,70,70,0.12),
    inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70,70,70,0.12);
}
.mypicbox {
    width: 60%;
    margin: 0px 0px 10px 40px;
}

.my-pic-info a h5, .my-pic-info a p{
    color: black;
}
.my-pic-info {
    margin-left: 10px;
    margin-right: 20px;
}

h5 {
    margin: 0;
}

p {}

.footerbox {
    text-align: center;
    width: 1089px;
    background: linear-gradient(225deg, #fdfdfd, #f0f0f0);
    border-radius: 20px;
    box-shadow: -5px 3px 10px #b1b1b1, 0px 5px 8px #ffffff;
    transition: .4s;
    padding: 2px;
    margin: auto;
}
.footerbox span{
    color: blue;
}
.linkinfo h5 {
    font-size: 10px;
    color: rgb(138, 138, 138);
}
.linkname a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
}

.socialicon{
    display: flex;
    justify-content: inherit;
    width: 100%;
}

.socialicon i{
    font-size: 60px;
    color: black;
}

.linkd:hover{
    color: rgb(83, 83, 254);
}
.gith:hover{
    color: rgb(31, 0, 60);
}
.skills.linkname.linkinfo {
    margin: 0px 20px;
}
/* .socialmedia img {
    width: 70%;
} */

 @media only screen and (max-width: 520px) {

  .first-rowbox {
    flex-direction: column;
}
     .firstrow-box {
    width: 100%;
    margin: 10px 0px 0px 0px;
    padding: 20px 0px;
    flex-direction: column;
}
    .spaceheader{
        width: 100%;
    }
    header .header{
        width: 100%;
    }
     .navbar {
    display: none;
}
     p.line-box {margin: 0px 0px 10px 0px;}
     
.main-container {
    width: 100%;
}

     .about-info {
    flex-direction: column;
}
.second-rowbox {
    flex-direction: column;
}
.mycvdownload {
    width: 100%;
}

.skill-box {
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
}
     
.socialmedia {
    width: 100%;
}

.credential.linkname.linkinfo, .portfolio, .mycvdownload, .socialmedia {
    
    height: 250px;
    margin: 0px 0px 10px 0px;
}
    .commingsoon {
    margin: 0px;
} 
     .socialmedia img {
    width: 80%;
}

.letstalk a {
    font-size: 15px;
    padding: 10px 20px;
}
.logo {
    font-size: 20px;
}
.my-pic-info h1 {

    margin: 0px 0px;
}
.my-pic-info {

    text-align: center;
}
.footerbox{
    width: 100%;
}
 }